/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}


/* logo-1 */


/* logo-2 */


/* naviagtion  */


/* main */


/* sc-2 */


/* sc-3 */


/* sc-4 */


/* sc-5 */


/* buttons-p */


/* content-p */


/* footer */