/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */


/* logo-1 */


/* logo-2 */


/* naviagtion  */


/* main */


/* sc-2 */


/* sc-3 */


/* sc-4 */


/* sc-5 */


/* footer */


/* buttons-p */

.buttons-p {
    background-color: #FFFFFF;
    color: black;
    border: none;
}

.buttons-p>ul>li {
    list-style: none;
}

.button-p:hover {
    background-color: #2196F3;
    color: white;
    border: none;
}


/* content-p */