/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}


/* logo-1 */


/* logo-2 */


/* naviagtion  */

.header {
    display: flex;
    background-color: #FFFFFF;
    width: 1600px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #ECECEC;
}

.logo-1 {
    font-size: 26px;
    width: 100%;
    height: 80px;
}

.logo-1>a {
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 80px;
}

.nav>ul>li>a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav>ul>li>a:hover {
    color: #2196F3;
}

.nav-c {
    font-size: 14px;
    width: 100%;
    height: 80px;
    display: flex;
}

.nav-c>li>a {
    text-decoration: none;
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


/* main */


/* sc-2 */


/* sc-3 */


/* sc-4 */


/* sc-5 */


/* buttons-p */

.buttons-po {
    background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.buttons-po>ul>li {
    list-style: none;
}

.button-p {
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    display: block;
    width: 121px;
    height: 38px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

.button-p:hover {
    background-color: #2196F3;
    color: white;
}


/* content-p */

.content-p {
    display: flex;
}

.img-p {
    display: block;
}

.content-p>ul>li>h3 {
    display: block;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.content-p>ul>li>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}


/* footer */

.footer {
    margin-top: 50px;
    background-color: #2F303A;
    height: 252px;
    width: 100%;
    display: block;
}

.logo-2 {
    margin-top: 50px;
    display: block;
    text-decoration: none;
}

.logo-2>a {
    margin-top: 50px;
    display: block;
    background-color: #2F303A;
    text-decoration: none;
}

.address {
    background-color: #2F303A;
    margin-left: 215px;
}

.address>ul {
    display: block;
}

.address>ul>li {
    display: block;
    background-color: #2F303A;
}

.address>ul>li>a {
    text-decoration: none;
    background-color: #2F303A;
    color: #757575;
    font-size: 14px;
}

.address>p {
    text-decoration: none;
    background-color: #2F303A;
    color: white;
    font-size: 14px;
}